/* thema.css */

html {
    /* 1rem */
    font-size: 20px;
}

body {
    display: flex;
    background-color: black;
    color: gray;
}

header {
    width: 100%; height: 9rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    font-size: 2rem;
}
    .container-header {

    }
        .header-banner {
            width: 100%; height: 6rem;
            background-image: url(../image/banner.jpg);
            background-size: cover;
            background-position: 50% 60%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .header-banner h1 {
                font-size: 2rem;
                font-style: italic;
                color: white;
            }
        .header-nav {
            width: 100%; height: 3rem;
        }
            .header-nav ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: black;
            }
            .header-nav li {
                margin-right: 2rem;
                font-style: italic;
            }
            .header-nav li:hover {
                font-weight: bold;
            }

main, aside {
    padding-top: 10rem;
    padding-bottom: 4rem;
    width: 100%; height: 100%;
}
    input {
        background-color: black;
        border: 1px solid gray;
        color: gray;
    }
    textarea {
        background-color: black;
        border: 1px solid gray;
        color: gray;
    }

footer {
    width: 100%; height: 3rem;
    position: fixed;
    bottom: 0; left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

    a {
        color: inherit;         /* 부모 요소의 색상을 상속하여 변경하지 않음 */
        text-decoration: none;  /* 밑줄 제거 */
    }