

<div class="container-header">
    <nav class="header-nav">
        <ul>
            <li>
                <a href="https://varzeny.com" style="color: blueviolet;">V</a>
            </li>

            <li>
                <a href="/profile/">Home</a>
            </li>

            <li>
                <a href="/profile/history">History</a>
            </li>

            <li>
            <a href="/profile/experience">Experience</a>
            </li>

            <li>
                <a href="/profile/project">Project</a>
            </li>
        </ul>
    </nav>

</div>