<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Profile</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/core/static/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='/profile/static/css/thema_1.css'>
    <link rel='stylesheet' type='text/css' href='/profile/static/css/profile_history.css'>
    <!-- <script src='/profile/staatic/js/profile_history.js'></script> -->
</head>
<body>
    <header>
        {% include "profile_header.html" %}
    </header>

    <main>
        
        <div id="top">
            <section class="panel" id="section-title">
                <h1>History</h1>
                <p>The way of Cyber Master</p>
            </section>
        </div>


        <div id="bot">
            <section class="panel" id="section-portrait">
                <ul class="event" id="event-top">
                    <li><a>
                        <h2>2022.06</h2>
                        <p>Universal Robots Core Training 수료</p>
                    </a></li>
                    <li><a href="">
                        <h2>2022.09</h2>
                        <p>IT융합전자회로설계 경진대회 산학협력상 수상</p>
                    </a></li>
                    <li><a href="">
                        <h2>2022.12</h2>
                        <p>Universal Robots Advence Training 수료</p>
                    </a></li>
                    <li><a href="">
                        <h2>2024.02</h2>
                        <p>경북도지사상 수상</p>
                    </a></li>
                    <li><a href="">
                        <h2>2024.06</h2>
                        <p>정보처리 산업기사 취득</p>
                    </a></li>
                </ul>
                <div id="timeline"></div>
                <ul class="event" id="event-bot">
                    <li><a href="">
                        <h2>2022.06</h2>
                        <p>ITQ 엑셀 1급 취득</p>
                    </a></li>
                    <li><a href="">
                        <h2>2022.10</h2>
                        <p>R-Biz 챌린지 최종 7팀</p>
                    </a></li>
                    <li><a href="">
                        <h2>2023.12</h2>
                        <p>ICT 프로보노 동상 수상</p>
                    </a></li>
                    <li><a href="">
                        <h2>2024.02</h2>
                        <p>로봇캠퍼스 졸업</p>
                    </a></li>
                    <li><a href="">
                        <h2>2024.08</h2>
                        <p>학점은행 컴퓨터공학 학사</p>
                    </a></li>
                </ul>

            </section>
        </div>

    </main>


</body>
</html>