<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/core/static/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='/profile/static/css/thema_1.css'>
    <link rel='stylesheet' type='text/css' href='/profile/static/css/profile_home.css'>
    <!-- <script src='/profile/static/js/main.js'></script> -->
</head>
<body>
    <header>
        {% include "profile_header.html" %}
    </header>

    <main>
        
        <div id="left">
            <section class="panel" id="section-title">
                <h1>Hoa Choi</h1>
                <p>Junior Backend Developer</p>
            </section>

            <section class="panel" id="section-link">
                <ul>
                    <li><a class="link-a" href="https://varzeny.com" target="_blank"><img class="link-img" id="img-homepage" src="/profile/static/image/homepage.png">https://varzeny.com</a></li>

                    <li><a class="link-a" href="https://www.youtube.com/@hoachoi6173" target="_blank"><img class="link-img" id="img-youtube" src="/profile/static/image/youtube.png">https://www.youtube.com/@hoachoi6173</a></li>

                    <li><a class="link-a" href="https://github.com/varzeny" target="_blank"><img class="link-img" id="img-github" src="/profile/static/image/github.png">https://github.com/varzeny</a></li>

                    <li><a class="link-a" href="" target="_blank"><img class="link-img" id="img-email" src="/profile/static/image/email.png">varzeny@gmail.com</a></li>
                </ul>
            </section>
        </div>

        <div id="right">
            <section class="panel" id="section-portrait"></section>
        </div>

    </main>


</body>
</html>