/* post_read */


aside {
    flex: 3;
    padding-left: 1rem; padding-right: 1rem;
}

main {
    flex: 7;
    padding-left: 1rem; padding-right: 1rem;
}

section {
    margin-bottom: 1rem;
}

article {
    box-shadow: 4px 4px 8px gray;
    padding: 1rem;
}

img {
    width: 100%; height: 100%;
}

    #container-post {

    }
        #post-header {

        }
        #post-footer {
            display: flex;
            justify-content: space-between;
        }
            .post-row {
                margin-bottom: 1rem;
            }
                .post-row .row-top {
                    display: flex;
                    justify-content: center;
                    font-size: 2rem;
                }
                .post-row .row-mid {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 1rem;
                }
                .post-row .row-bot {
                    display: flex;
                    justify-content: space-between;
                }

    #btn-view-comment {
        width: 100%; height: 2rem;
        background-color: black; color: gray;
        border: none;
        box-shadow: 4px 4px 8px gray;
    }
    #btn-view-comment:hover {
        transform: translateY(-4px);
        box-shadow: 4px 4px 4px gray;
    }

    #container-comment {
        display: none;
    }
        #comments {
            margin-bottom: 1rem;
            padding: 1rem;
            box-shadow: 4px 4px 8px gray;
        }
        #comment-form {
            box-shadow: 4px 4px 8px gray;
            padding: 1rem;
        }
            #comment-write-top {

            }
            #comment-write-bot {
                display: flex;
            }
                #comment-write-bot textarea {
                    width: 100%;
                }
                #comment-write-bot input {
                    width: 5rem;
                }
        .comment {
            width: 100%;
            padding-left: 0.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem;
        }
            .comment-top {
                display: flex;
            }
                .comment-header {
                    flex: 1;
                }
                .comment-body {
                    flex: 8;
                    padding-left: 1rem; padding-right: 1rem;
                }
                .comment-footer {
                    flex: 1;
                    display: flex;
                    font-size: 0.5rem;
                }
                    .btn-comment-delete {
                        margin-left: 0.5rem;
                        background-color: black; color: grey;
                    }

        