<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Post</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/core/static/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='/core/static/css/thema.css'>
    <link rel='stylesheet' type='text/css' href='/post/static/css/post_read.css'>
    <script src='/post/static/js/post_read.js'></script>
    <script src='/core/static/js/access.js'></script>
</head>
<body>
    <meta id="meta" data-name="{{ access_token.name }}" data-post_id="{{post.id}}">
    <header>
        {% include "header.html" %}
    </header>

    <!-- <aside>
        <section id="container-search">
            Search
            <form method="get" action="/post/search">
                <input type="text" name="target" placeholder="search...">
                <input type="submit">
            </form>
        </section>

        <section id="container-category">
            Category
        </section>

        <section id="container-tag">
            Tag
        </section>
    </aside> -->
    
    <main>
        <section id="container-post">
            <article id="post" data-id="{{ post.id }}">
                <div class="post-row" id="post-header">
                    <div class="row-top">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="row-mid">
                        <p>{{ post.summary }}</p>
                    </div>
                    <div class="row-bot">
                        <p>작성자: {{ post.account_name }}</p>
                        <p>작성일: {{ post.created_at }}</p>
                    </div>
                </div>


                <div class="post-row" id="post-content">
                    <img src="/{{ post.thumbnail }}">
                    <section>{{ post.content }}</section>
                </div>


                <div class="post-row" id="post-footer">
                    <p>조회수: {{ post.view }}</p>
                    <p>좋아요: {{ post.like }}</p>
                </div>
            </article>
        </section>

        <button id="btn-view-comment" data-post_id="{{ post.id }}">댓글 보기</button>

        <section id="container-comment">
            <div id="comments">
                
            </div>

            <form id="comment-form" method="post" action="/post/write/comment">
                <div id="comment-write-top">
                    작성자 : {{ access_token.name }}
                </div>
                <div id="comment-write-bot">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <textarea name="content" required></textarea>
                    <input type="submit">
                </div>
        </section>
    </main>

    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>